html, head, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.selectorCont {
  flex-basis: 30vw;
  flex-shrink: 0;
  overflow: hidden;
}

.editorCont {
  flex-grow: 1;
}
